.dashboard__layout .side__bar {
   display: flex;
   flex-direction: column;
   transform: translateX(0%);
   transition: transform .5s ease;

   .user__info {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin: 2rem  0;

      h2 {
         font-size: 1.1rem;
         font-family: "Montserrat";
         margin-top: .5rem;

      }

      p {
         font-size: .7rem;
         color: gray;
      }


      img {
         $size: 4rem;
         height: $size;
         width: $size;
         border-radius: 50%;
         object-fit: cover;
      }
   }

   .user__image {
      position: relative;


      .online__indicator {
         $size: 1rem;
         width: 1rem;
         height: 1rem;
         border-radius: 50%;
         background-color: green;
         position: absolute;
         bottom: 0;
         right: 0;
      }

   }

   .logout__container {
     margin-top: auto;
     border-top: 1px solid #bababa81;
   }

   .sidebar__item {
      display: flex;
      align-items: center;
      gap: .4rem;
      padding: .8rem 0 .8rem 2.8rem;
      text-decoration: none;
      color: gray;

      &.active__link {
         background-color: #ededed;
         position: relative;
         &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: .25rem;
            height: 100%;
            background-color: #84afbb;
         }
      }
      &:hover {
         background-color: rgb(234, 234, 234);
      }


      img {
         width: 1.5rem;
         filter: invert(.5);
      }

      h2 {
         font-size: .95rem;
         font-weight: 500;
      }
   }
}

@media screen and (max-width: 900px) {
   .dashboard__layout .side__bar {
      &.hide__sidebar {
         transform: translateX(-100%);
         
      }
   }
}