/* Genel stil */
.toggle-switch {
   display: block;
   position: relative;
   width: 40px;
   height: 24px;
   margin: 10px;
 }
 
 /* Giriş stil */
 .toggle-switch .toggle-input {
   display: none;
 }
 
 /* Anahtarın stilinin etrafındaki etiketin stil */
 .toggle-switch .toggle-label {
   position: absolute;
   top: 0;
   left: 0%;
   width: 40px;
   height: 24px;
   background-color: gray;
   border-radius: 34px;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 /* Anahtarın yuvarlak kısmının stil */
 .toggle-switch .toggle-label::before {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   top: 2px;
   left: 2px;
   background-color: #fff;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
   transition: transform 0.3s;
 }
 
 /* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
 .toggle-switch .toggle-input:checked + .toggle-label {
   background-color: #2196F3;
 }
 
 .toggle-switch .toggle-input:checked + .toggle-label::before {
   transform: translateX(16px);
 }
 
 /* Light tema */
 .toggle-switch.light .toggle-label {
   background-color: #BEBEBE;
 }
 
 .toggle-switch.light .toggle-input:checked + .toggle-label {
   background-color: #9B9B9B;
 }
 
 .toggle-switch.light .toggle-input:checked + .toggle-label::before {
   transform: translateX(6px);
 }
 
 /* Dark tema */
 .toggle-switch.dark .toggle-label {
   background-color: #4B4B4B;
 }
 
 .toggle-switch.dark .toggle-input:checked + .toggle-label {
   background-color: #717171;
 }
 
 .toggle-switch.dark .toggle-input:checked + .toggle-label::before {
   transform: translateX(16px);
 }
 .toogle__button {
   display: flex;
   position: relative;
   flex-direction: row-reverse;
   top: 2px;
   right: 1px;
   align-items: center;
   justify-content: center;

   &.opacity {
      opacity: .5;
   }

   .text {
      font-size: .8rem;
      padding: .5rem 1.3rem;
      border-radius: .2rem;
      // box-shadow: 0 .2rem .4rem #59595912;

      &.active {
         border: 1px solid #75cc75;
         color: #75cc75;
         background-color: #ecfbec;
      }

      &.not__active {
         border: 1px solid #f8aaaa;
         color: #fa8f8f;
         background-color: #ffeded;
      }
   }

 }