.dashboard__layout .top__nav {
   img {
      width: 1.4rem;
   }
   h1 {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 1.1rem;
      color: grey;
   }

   .action {

   }
}