.analytics__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #ffffffca;

//   backdrop-filter: blur(10px);
  border: 1px solid #bababa81;
  border-radius: .8rem;
  
  gap: 1rem;

  padding: .8rem 1.6rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.6rem;

    img {
      width: 1.8rem;
    }
  }
  p {
    font-size: 0.87rem;
    color: gray;
    margin-bottom: .2rem;
  }
  h4 {
    font-size: 0.95rem;
  }
}
