.hero__section {
	height: 100vh;
	position: relative;

	.hero__img {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		filter: brightness(0.7);
	}

	.hero__content {
		position: absolute;
		bottom: 2rem;
		left: 2rem;
		display: flex;
		justify-content: space-between;
	}

	.hero__description {
		width: 58%;

		h1 {
			font-family: 'Manrope';
			font-weight: 500;
			font-size: 3.4rem;
			color: white;
		}

		p {
			color: white;
			font-family: "Inter";
         margin: .6rem 0 1.4rem;
			font-size: .9rem;
			width: 88%;
			line-height: 1.5;
			
		}

		button {
			border: 1px solid white;
			border-radius: 1.7rem;
			padding: 0.5rem 2rem;
			background-color: transparent;
			font-size: 1.2rem;
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			font-size: .9rem;
			color: white;

			backdrop-filter: blur(2px);

			background: linear-gradient(to right, #ffffffa3, #ffffff1d);

			img {
				width: 1.7rem;
				filter: invert(1) brightness(200);
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.hero__section {
		.hero__content {
			position: absolute;
			bottom: unset;
			top: 44%;
			width: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.hero__description {
			width: 100%;
			h1 {
				font-size: 2.8rem;
				font-weight: 600;
			}
			p {
				width: 100%;
				color: #e8e8e8;
				font-size: .8rem;
			}

		}
	}
}