.reviews__section {
	margin-bottom: 3rem;
   padding: 1.5rem 0;
   background-color: whitesmoke;
	& > h2 {
		font-size: 2.4rem;
		color: aliceblue;
		margin-bottom: 0.5rem;
		font-family: 'Montserrat';
		text-align: center;
	}

	& > p {
		color: wheat;
		line-height: 1.6;
		font-size: 0.9rem;
		font-family: 'Inter';
		text-align: center;
		width: 55%;
		margin: 0rem auto;
	}
	.section__icon {
		width: auto;
		height: 3rem;
		margin: 0 auto;
	}

	.review__card__container {
		display: flex;
		align-items: center;
		gap: 2rem;
		overflow-x: hidden;
		width: fit-content;
		margin-top: 2.5rem;
		padding-left: 3rem;
      padding-top: 3rem;
      padding-bottom: 2rem;
		transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		.review__card {
			background-color: white;
			border-radius: 1rem;
			height: 19rem;
			width: 19rem;
			padding: 1.4rem 1.1rem 1.2rem;
			position: relative;
			box-shadow: 0 0rem 0.5rem #1f1f1fef;

			& > h2 {
				font-family: 'Montserrat';
				height: 4.5rem;
				color: #3d3b3b;
				line-height: 1.3;
			}
			& > p {
				font-size: 0.9rem;
				color: #6f6f6f;
			}

			img {
				$size: 2.3rem;
				width: $size;
				height: $size;
				border-radius: 50%;
				object-fit: cover;
				filter: grayscale(1);
			}

			& > div {
				position: absolute;
				left: 0.7rem;
				bottom: 1.3rem;
				display: flex;
				align-items: center;
				gap: 0.7rem;

				& h3 {
					font-size: 0.9rem;
					color: #585757;
				}

				p {
					font-size: 0.75rem;
					color: gray;
				}
			}
		}
	}

	.review__btns {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		button {
			$size: 2.5rem;
			display: block;
			width: $size;
			height: $size;
			border-radius: 50%;
			padding: 0.5rem;
			border: none;
			background-color: #f7f763;
			cursor: pointer;

			&:active {
				opacity: 0.8;
			}
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}

      .arrow__left {
         transform: rotate(-180deg);
      }
	}
}

@media screen and (max-width: 900px) {
	.reviews__section {
		padding: 0 1rem;

		& > h2 {
			font-size: 1.9rem;
		}
		& > p {
			font-size: 0.65rem;
			font-weight: 500;
			width: 100%;
		}

		.review__parent__container {
			overflow-x: scroll;
		}

		.review__card__container {
			padding-left: 0.5rem;

			.review__card {
				width: 16rem;
				font-size: 0.9rem;

				& > p {
					font-size: 0.85rem;
				}
			}
		}

		.review__btns {
			display: none;
		}
	}
}
