.record__modal {
	width: 60%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 42%;
	background-color: #ffffffd7;
	border-radius: 0.8rem;
	padding: 0.8rem;
	box-shadow: 0 0.7rem 1.5rem #5d5d5d49;
	backdrop-filter: blur(9px);

	& > p {
		width: 100%;
		text-align: center;
		padding: 0.5rem 0 0.8rem;
		border-bottom: 1px solid #bababa81;
	}

	.upload__icon {
		$size: 3rem;
		height: $size;
		width: $size;
		border-radius: 50%;
		padding: 0.6rem;

		margin: 1rem auto 0.6rem;
		background-color: #c3cef5;
		display: block;
	}

	.modal__details {
		margin: 2.3rem auto;

		& > p {
			font-size: 0.9rem;
			color: gray;
			text-align: center;
		}

		span {
			font-size: 0.8rem;
			color: #a2a2a2;
			text-align: center;
			display: block;
         margin-top: .1rem;
		}
	}
	.btn__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 1.4rem 0 1rem;

		button {
			border-radius: 1.2rem;
			padding: 0.5rem 1.7rem;
			font-size: 0.8rem;
			border: 1px solid #bababa81;
			display: block;
			color: gray;

			background-color: #ffffff82;
			box-shadow: 0 0.2rem .3rem #5c5c5c1f;
		}
	}

	.result__settings {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: .5rem;
		margin-bottom: .5rem;

		button {
			height: 2.25rem;
			padding: 0 1.3rem .2rem;
			font-weight: bold;
			color: white;
			background-color: #262626;
			font-size: .9rem;
			border-radius: 1.2rem;
			border: none;

		}
	}
}
